@charset "utf-8";

// Variable overrides come before you import Bulma
$primary: #FFC0CB;
$size-1: 2rem;

// import Bulma
@import "./bulma-0.9.3/bulma.sass";

// styles that use the Bulma mixins come after you import Bulma
#navMenu{
    @include mobile{
        display: none;
        background-color: $white-bis;

        a{
            padding: 1em !important;
        }

    }
}