@charset "utf-8";

// Variable overrides come before you import Bulma
$primary: #f6a28a;
$secondary: #f4c45b;
$neutral: #fbeae2;
$blue: #e2f0f1;
$pink: #fadcc2;
$grey: #5b5b5b;
$link: $blue;
$info: $pink;
//$dark: $grey;
$text: $grey;
$size-1: 2rem;

// import Bulma
@import "./bulma-0.9.3/bulma.sass";

// styles that use the Bulma mixins come after you import Bulma
#navMenu{
    @include mobile{
        display: none;
        background-color: $white-bis;

        a{
            padding: 1em !important;
        }

    }
}