<nav class="navbar is-primary">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          {{ $.Site.Title }}
        </a>
      </div>
  
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
        <a class="navbar-item" href="/posts">
          Posts
        </a>
        <a class="navbar-item" href="/portfolio">
          Portfolio
        </a>
        <a class="navbar-item" href="https://www.instagram.com/cass.mess/" data-animate-hover="pulse">
          <img src="C:/my-blog1/assets/img/logos/logo.PNG"> 
        </a>
        <a class="navbar-item" href="https://github.com/cass-code" data-animate-hover="pulse">
          <i class="fab fa-github"></i>
        </a>
        <a class="navbar-item" href="https://www.linkedin.com/in/cassandra-pengelly/" data-animate-hover="pulse">
          <img src="C:/my-blog1/fontawesome/linkedin.svg">
        </a>
      
      </div>
    </div>
  </nav>

 
  