<nav class="navbar is-primary">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          {{ $.Site.Title }}
        </a>
      </div>
  
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
        <a class="navbar-item" href="/posts">
          Posts
        </a>
        <a class="navbar-item" href="/portfolio">
          Portfolio
        </a>
        <!-- Logo -->
        <a class="navbar-item" href="{{ "/" | absLangURL }}">
        <img class="lozad" loading="lazy" data-src="/assets/img/logos/logo.png" src="/assets/img/logos/logo.png" height="128" alt="{{ .Title }}">
        </a>
        
      </div>
    </div>
  </nav>

 
  