<nav class="navbar is-primary">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          {{ $.Site.Title }}
        </a>
      </div>
  
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
        <a class="navbar-item" href="/posts">
          Posts
        </a>
        <a class="navbar-item" href="/portfolio">
          Portfolio
        </a>
      </div>

       <!-- Social Icons -->
       <div class="navbar-end is-hidden-touch">
        <div class="navbar-item">
          <div class="buttons">
            {{ range .Site.Params.social }}
            <a class="button is-white" href="{{ .Permalink }}" target="_blank" rel="noopener">
              {{ if .Identifier }}<i class="{{ .Identifier }}" alt="{{ .Name }}" title="{{ .Name }}"></i>{{ end }}
            </a>
            {{ end }}
          </div>
        </div>
      </div>

    </div>
  </nav>

 
  