<p class="social">
    {{ with .Site.Params.social.instagram }}
    <a href="{{ . }}" data-animate-hover="pulse">
      <img alt="" src="fontawesome/instagram.svg">
    </a>
    {{end}}
    {{ with .Site.Params.social.linkedin }}
    <a href="{{ . }}" data-animate-hover="pulse">
      <img alt="" src="fontawesome/linkedin.svg">
    </a>
    {{end}}
    {{ with .Site.Params.social.github }}
    <a href="{{ . }}" data-animate-hover="pulse">
      <img alt="" src="fontawesome/github.svg">
    </a>
    {{end}}
  </p>
  